In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import GridSearchCV

In [22]:
data = pd.read_csv("preprocessed.csv")

In [23]:
data.head()

,age,le_workclass,le_education,Education_Num,le_occupation,le_race,le_sex,Capital_Gain,Capital_Loss,Hours_per_Week,le_country,le_income
0,39,5,9,13,0,4,1,2174,0,40,38,0
1,50,4,9,13,3,4,1,0,0,13,38,0
2,38,2,11,9,5,4,1,0,0,40,38,0
3,53,2,1,7,5,2,1,0,0,40,38,0
4,28,2,9,13,9,2,0,0,0,40,4,0

In [26]:
X = data[['age', 'le_workclass', 'le_education', 'Education_Num', 'le_occupation', 'le_race', 'le_sex', 'Capital_Gain', 'Capital_Loss', 'Hours_per_Week', 'le_country']]
# Target
y = data['le_income']

In [31]:

# Assuming you have your data loaded into a DataFrame called 'data'
# Features


# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize Naive Bayes model
model = GaussianNB()

# Train the model
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluation (optional)
from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7915975677169707

In [32]:
print("Classification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.95      0.87      6745
           1       0.69      0.33      0.45      2300

    accuracy                           0.79      9045
   macro avg       0.75      0.64      0.66      9045
weighted avg       0.78      0.79      0.76      9045